# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore build and cache directories
/dist
/build
/.cache

# Ignore system files
.DS_Store
Thumbs.db

.expo
.idea
